body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, button, input, select {
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul, li {
    list-style-type: none;
}

details, summary {
    outline: none;
    border: none;
}

summary::marker {
    font-size: 0;
}

/*========================
        Common Styles 
==========================*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 46px;
    background: linear-gradient(180deg, #EC2121 0%, #AC0000 100%);
    -webkit-box-shadow: 0px 10px 19px 0px rgba(236,33,33,0.27); 
    box-shadow: 0px 10px 19px 0px rgba(236,33,33,0.27);
    border: 1px solid transparent;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s linear;
}

.btn:hover {
    -webkit-box-shadow: 0px 5px 25px 0px rgba(236,33,33,0.66); 
    box-shadow: 0px 5px 25px 0px rgba(236,33,33,0.66);
    transition: all 0.5s linear;
}

.title {
    margin: 65px auto 0;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    width: fit-content;
}

.title span {
    padding: 0 5px;
    color: #fff;
    background-color: #EC2121;
}

/*========================
        Сontainer 
==========================*/

.container {
    max-width: 1195px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    color: #000;
}

/*========================
         Wrapper 
==========================*/

.wrapper {
    position: relative;
}

.wrapper::before {
    content: "";
    position: absolute;
    background: url(../img/decorations/square.png);
    width: 337px;
    height: 502px;
    z-index: 111;
    bottom: 0;
    left: 0;
}

.wrapper::after {
    content: "";
    position: absolute;
    background: url(../img/decorations/sphere.png) no-repeat;
    width: 194px;
    height: 184px;
    bottom: 0;
    right: 250px;
    z-index: 111;
}

/*========================
         Header 
==========================*/

.header {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 33;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    margin-right: 50px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease;
}

.nav__link:hover {
    color: #EC2121;
    transition: all 0.2s ease;
}

.nav__link:hover:before {
    content: "";
    width: 11px;
    height: 4px;
    background-color: #EC2121;
    position: absolute;
    left: calc(50% - 11px / 2);
    bottom: -5px;
}

/*========================
      Section General 
==========================*/

.general {
    background: url(../img/general/testbg.png);
    min-height: 680px;
    padding-top: 120px;
    position: relative;
    background-position: top;
    z-index: 1;
    top: 0;
}

.general__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.general__title {
    width: 100%;
    max-width: 570px;
    font-size: 52px;
    font-weight: 700;
    line-height: 63px;
}

.general__title span {
    color: #EC2121;
}

.general__buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 430px;
}

.general__btn {
    border: 1px solid #EC2121;
    background: #fff;
    color: #EC2121;
}

.general__btn img {
    margin-right: 5px;
    width: 24px;
    height: 16px;
}

.general__visual {
    position: relative;
}

.general__img {
    width: 598px;
    height: 469px;
}

/*========================
      Section Monitoring 
==========================*/

.main-page {
    background: linear-gradient(360deg, #FEF4F4 78.59%, rgba(255, 255, 255, 0.4) 121.66%, rgba(255, 255, 255, 0) 136.83%);
    position: absolute;
    width: 100%;
    top: 620px;
    z-index: 11;
}

/*
.monitoring {
    background: linear-gradient(360deg, #FEF4F4 78.59%, rgba(255, 255, 255, 0.4) 121.66%, rgba(255, 255, 255, 0) 136.83%);
    position: absolute;
    z-index: 4;
    width: 100%;
    bottom: -590px;
} */

.monitoring__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.monitoring__img {
    width: 470px;
    height: 694px;
}

.monitoring__server {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 0 10px;
    width: 630px;
    height: 97px;
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
}

.counter {
    width: 84px;
    height: 84px;
    position: relative;
}

.counter p {
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #FBD3D3;
}

.counter span {
    font-size: 25px;
    font-weight: 700;
    color: #EC2121;
}

.monitoring__info-name {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.monitoring__adress {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.coupon-field {
    font-size: 14px;
    color: #EC2121;
}

.coupon-btn {
    margin-left: 4px;
    background: none;
    border: none;
    cursor: pointer;
}

.monitoring__btn {
    font-size: 14px;
    font-weight: 500;
    width: 126px;
    height: 42px;
}

.monitoring__numerator {
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    max-width: 490px;
    width: 100%;
}

.monitoring__numerator-item {
    font-family: 'Roboto', sans-serif;
    max-width: 100px;
    width: 100%;
    text-align: center;
}

.monitoring__numerator-item p {
    font-size: 15px;
    font-weight: 400;
    color: #D0B9B9;
    text-transform: uppercase;
}

.monitoring__numerator-score {
    font-size: 60px;
    font-weight: 500;
    color: #000;
}

/*========================
         Benefits 
==========================*/

.benefits {
    background-color: #FEF4F4;
}

.benefits__content {
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 370px;
    height: 258px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    text-align: left;
}

.benefits__item-content {
    max-width: 198px;
    width: 100%;
    margin-right: 25px;
}

.benefits__item:after {
    content: "";
    position: absolute;
    background: url(../img/benefits/angle.png);
    width: 130px;
    height: 256px;
    top: 0;
    left: 0;
    z-index: 1;
}

.benefits__item:before {
    content: "";
    position: absolute;
    background: url(../img/icons/holy-grail.svg);
    bottom: calc(60% - 72px / 2);
    left: 20px;
    height: 72px;
    width: 52px;
    z-index: 2;
}

.benefits__item:nth-child(2)::before {
    background: url(../img/icons/big-joystick.svg);
    width: 73px;
    height: 47px;
    bottom: calc(60% - 47px / 2);
}

.benefits__item:nth-child(3)::before {
    background: url(../img/icons/store.svg);
    width: 73px;
    height: 72px;
}

.benefits__item-title {
    margin-bottom: 7px;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #EC2121;
}

.benefits__item:nth-child(2) .benefits__item-title {
    max-width: 90px;
    width: 100%;
}

.benefits__item-text {
    font-size: 14px;
    color: #000;
}

.benefits__btn {
    margin-top: 24px;
    width: 1170px;
    height: 71px;
    box-shadow: none;
    font-size: 25px;
    color: #EC2121;
    background: #fff;
    border-radius: 10px;
}

/*========================
         Guide 
==========================*/

.guide {
    margin-top: 60px;
    background: url(../img/guide/Group\ 58.png) center center no-repeat;
    min-height: 870px;
    position: relative;
    background-size: cover;
}

.guide__inner {
    padding-top: 80px;
}

.guide__inner .title {
    color: #fff;
}

.guide__inner .title span {
    color: #E61F1F;
    background-color: #fff;
}

.guide__content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.guide__item {
    width: 372px;
    height: 316px;
    border-radius: 10px;
    background: url(../img/guide/item-bg1.png) center center no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
}


.guide__item:nth-child(2) {
    background: url(../img/guide/item-bg2.png);
}

.guide__item:nth-child(3) {
    background: url(../img/guide/item-bg3.png);
}

.guide__item-number {
    font-size: 200px;
    font-weight: 700;
    line-height: 143px;
    color: #000;
    opacity: .05;
    position: absolute;
    top: 15px;
    left: 15px;
}

.guide__item-content {
    padding: 60px 25px 35px;
}

.guide__item-title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.guide__item-text {
    margin-top: 35px;
    font-size: 14px;
    color: #fff;
}

.guide__btn {
    margin-top: 35px;
    width: 326px;
    height: 46px;
    background: #fff;
    color: #EC2121;
}

.guide__btn:hover {
    -webkit-box-shadow: 0px 0px 30px 6px rgba(255,255,255,0.66); 
    box-shadow: 0px 0px 30px 6px rgba(255,255,255,0.66);
    transition: all 0.5s linear;
}


/*========================
         Socials 
==========================*/

.socials {
    position: relative;
    margin-bottom: 70px;
}

.socials__inner {
    display: flex;
    justify-content: space-between;
    position: absolute;
    content: "";
    bottom: 17px;
}

.socials__item {
    margin-right: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 370px;
    height: 133px;
    border-radius: 66px 10px 10px 66px;
    padding: 10px 10px;
    position: relative;
}

.socials__item::before {
    content: "";
    position: absolute;
    bottom: calc(50% - 166px / 2);
    left: -17px;
    width: 166px;
    height: 166px;
    background-color: #2787F5;
    opacity: .1;
    border-radius: 50%;
    z-index: -1;
}

.socials__item:nth-child(3) {
    margin-right: 0;
}

.socials__item:nth-child(2) .socials__item-title span {
    color: #2CA3E0;
}

.socials__item:nth-child(2) .socials__pin {
    background-color: #2CA3E0;
}

.socials__item:nth-child(2) .socials__btn {
    background-color: #2CA3E0;
}

.socials__item:nth-child(3) .socials__item-title span {
    color: #697EC9;
}

.socials__item:nth-child(3) .socials__pin {
    background-color: #697EC9;
}

.socials__item:nth-child(3) .socials__btn {
    background-color: #697EC9;
}

.socials__item:nth-child(3)::before {
    background-color: #697EC9;
}

.socials__pin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 112px;
    background-color: #2787F5;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.socials__pin:hover {
    -webkit-box-shadow: 0px 0px 12px 10px rgba(39, 135, 245, 0.2);
    -moz-box-shadow: 0px 0px 12px 10px rgba(39, 135, 245, 0.2);
    box-shadow: 0px 0px 12px 10px rgba(39, 135, 245, 0.2);
    transition: all 0.3s linear;
}

.socials__icon {
    width: 58px;
    height: 58px;
}

.socials__item-content {
    max-width: 222px;
    width: 100%;
}

.socials__item:nth-child(2) .socials__item-title {
    max-width: 170px;
}

.socials__item:nth-child(3) .socials__item-title {
    max-width: 170px;
}

.socials__item-title {
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

.socials__item-title span {
    color: #2787F5;
}

.socials__btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 223px;
    height: 40px;
    background-color: #2787F5;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 11px;
    transition: all 0.3s linear;
}

.socials__btn:hover {
    -webkit-box-shadow: 0px 0px 12px 10px rgba(39, 135, 245, 0.2);
    -moz-box-shadow: 0px 0px 12px 10px rgba(39, 135, 245, 0.2);
    box-shadow: 0px 0px 12px 10px rgba(39, 135, 245, 0.2);
    transition: all 0.3s linear;
}