<div class="container">
    <div class="footer__inner">
        <nav class="footer__nav nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="./index.html#guide" class="nav__link" data-scroll="#guide">Как начать игру</a>
                </li>
                <li class="nav__item">
                    <a href="https://forum.diamondrp.ru" class="nav__link">Форум</a>
                </li>
                <li class="nav__item">
                    <a href="https://vk.com/eugeneloveyou" target="_blank" class="nav__link">Мы ВКонтакте</a>
                </li>
            </ul>
        </nav> <!-- /.nav -->
        <a href="index.html" class="footer__logo">
            <img src="img/icons/logo.svg" alt="Logo">
        </a>
        <a href="userf/public-offerta.pdf" target="_blank" class="nav__link">Договор офферты</a>
    </div> <!-- /.footer__inner -->
</div> <!-- /.container -->