<div class="container">
    <div class="header__inner">
        <a href="index.html" class="logo">
            <img src="img/icons/logo.svg" alt="Logo" class="logo">
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="./index.html" class="nav__link" data-scroll="#general">Главная</a>
                </li>
                <li class="nav__item">
                    <a href="./index.html#guide" class="nav__link" data-scroll="#guide">Как начать игру</a>
                </li>
                <li class="nav__item">
                    <a href="https://forum.diamondrp.ru" class="nav__link">Форум</a>
                </li>
                <li class="nav__item">
                    <a href="https://vk.com/eugeneloveyou" target="_blank" class="nav__link">Мы Вконтакте</a>
                </li>
            </ul>
        </nav> <!-- /.nav -->
        <div class="mobile__nav-wrapper">
            <button id="burger" class="open__mobile">
                <span class="burger"></span>
                <span class="burger-text">Меню</span>
            </button>
            <nav class="mobile-nav" id="mobile-nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="./index.html" class="nav__link" data-scroll="#general">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a href="./index.html#guide" class="nav__link" data-scroll="#guide">Как начать игру</a>
                    </li>
                    <li class="nav__item">
                        <a href="https://forum.diamondrp.ru" class="nav__link">Форум</a>
                    </li>
                    <li class="nav__item">
                        <a href="https://vk.com/eugeneloveyou" target="_blank" class="nav__link">Мы ВКонтакте</a>
                    </li>
                </ul>
            </nav> <!-- /.mobile-nav -->
        </div> <!-- /.mobile__nav-wrapper -->
        <a href="./donate.html" class="btn">Пополнить счет</a>
    </div> <!-- /.header__inner -->
</div> <!-- /.container -->

<script>
    let burger = document.getElementById('burger'),
        nav    = document.getElementById('mobile-nav'),
        slowmo = document.getElementById('slowmo');
        body   = document.getElementById('body');

    // Открытие мобильного Гамбургер меню
    $('.nav__link').on('click', function(event){
    $('#body').removeClass('no-scroll');
    $('.mobile-nav').removeClass('is-open');
    $('.open__mobile').removeClass('is-open');
    });    

    burger.addEventListener('click', function(e){
        this.classList.toggle('is-open');
        nav.classList.toggle('is-open');
    });

    burger.addEventListener('click', function(e){
        body.classList.toggle('no-scroll');
    });

    slowmo.addEventListener('click', function(e){
        this.classList.toggle('is-slowmo');
    });

    burger.addEventListener('click', function(e){
        this.classList.toggle('is-open');
        nav.classList.toggle('is-open');
    });
</script>